* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* Responsive calculation */

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

:root {
    font-size: 12px;
}

@media (max-width: 8.5in) {
    :root {
        font-size: 18px;
    }
}

@media (max-width: 5.5in) {
    :root {
        font-size: 10px;
    }
}

body {
    background-color: #e0e0e0;
    color: #1b1b1b;
    margin: 0;
}

@font-face {
    font-family: 'Ranade-Variable';
    src: url(Fonts/Ranade-Variable.ttf);
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Ranade-VariableItalic';
    src: url(Fonts/Ranade-VariableItalic.ttf);
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

h1 {
    font-family: Ranade-Variable;
    font-weight: 400;

}


h2 {
    font-family: Ranade-Variable;
    font-weight: 400;
}

h3 {
    font-family: Ranade-Variable;
    font-weight: 400;
}

h4 {
    font-family: Ranade-Variable;
    font-weight: 400;
}

h5 {
    font-family: Ranade-Variable;
    font-weight: 400;
}

h6 {
    font-family: Ranade-Variable;
    font-weight: 900;
}

p {
    font-family: Ranade-Variable;
    font-weight: 400;
}

a {
    font-family: Ranade-Variable;
    font-weight: 400;
    text-decoration: none;
}

span {
    font-family: Ranade-Variable;
    font-weight: 400;
}

/*-----Estilos de la Pagina-----*/

/*-----Nav-----*/
.nav-bar {
    position: fixed;
    width: 100vw;
    height: 6vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #222222;
    z-index: 3;
    padding: 0em 2em;
}


/*Vista de Nevegacion*/
.logo-zone {
    top: -10vh;
    opacity: 0;
    position: relative;
}

.logo-text {
    font-size: 1.6rem;
}

#time-text {
    font-size: 1.1rem;
}

.weather-zone {
    text-align: end;
    top: -10vh;
    opacity: 0;
    position: relative;
}

#temperature-text {
    font-size: 1.6rem;

}

#temperature-desc {
    font-size: 1.1rem;
}

/*-----Scroller-----*/

.scroller-container {
    height: 100vh;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.scroller-section {
    display: flex;
    margin-left: 6vw;
    padding-right: 6vw;
    gap: 2rem;
}

#scroll-first {
    transform: scale(.9);
    opacity: 0;
}

.scroll-text-section {
    height: 70vh;
    min-width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    line-height: 1;
    margin: 0;
    padding: 0 4rem;
    text-transform: lowercase;
    color: #222222;
    color: transparent;
    -webkit-text-stroke: 1px #222222;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.fade {
  transition: opacity 0.2s linear;
}

.gallery__text-inner {
    font-weight: 900;
}

.scroll-section {
    position: relative;
    width: 33vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 1fr;
    transition: all 400ms;
    white-space: normal;
    cursor: pointer;
    overflow: hidden;
}

.scroll-section.open-section {
    width: 66vw;
    grid-template-columns: 66vh 1fr;
    cursor: auto;
    /* Corregir valores de altura */
}

.scroll-text-container {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    background: #e0e0e0;
    color: #e0e0e0;
    transition: all ease-in-out;
}

.scroll-text-container a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
}

.scroll-section.open-section .scroll-text-container {
    justify-content: space-evenly;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem 2rem;
    background-color: #222222;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.scroll-title-container {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.scroll-title-container h4 {
    font-size: 2.4rem;
    margin-right: 3rem;
}

.scroll-title-container h6 {
    font-size: 4.8rem;
    color: #222222;
    color: transparent;
    -webkit-text-stroke: 1px #222222;
    -webkit-text-fill-color: transparent;
}

.scroll-section.open-section .scroll-title-container {
    grid-column: 1/3;
}

.scroll-subtitle {
    width: 100%;
    text-align: center;
    transition: all .2s ease-in-out;
    padding: 1rem;
    opacity: 0;
}

.scroll-section.open-section .scroll-subtitle {
    color: #fff;
    height: auto;
    width: 100%;
    opacity: 1;
    font-size: 1.8rem;
}

.scroll-text {
    text-align: justify;
    transition: all .2s ease-in-out;
    opacity: 0;
    font-size: 1.3rem;
    width: 95%;
}

.scroll-italic {
    font-style: oblique;
    font-family: Ranade-VariableItalic;
    font-size: 1.6rem;
}

.scroll-section.open-section .scroll-text {
    opacity: 1;
}

.scroll-counter {
    width: 100%;
    height: 6vh;
    text-align: center;
    transition: all .2s ease-in-out;
    padding: 1rem;
    opacity: 0;
}


.scroll-section.open-section .scroll-counter {
    color: #fff;
    transition: all 250ms ease-in-out;
    opacity: 1;
}

.img_wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    min-width: 70vh;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.scroll-section.open-section .img_wrapper {
    min-width: 62vh;
    cursor: pointer;
}

.img_wrapper img {
    opacity: 1;
    top: 0;
    left: 0;
    transform: scale(1.5);

    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img_wrapper:hover img {
    transform: scale(1.4);
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scroll-section.open-section .img_wrapper img {
    transform: scale(1);
    height: auto;
    width: 100%;

    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/*-----Footer-----*/

.footer-container {
    position: absolute;
    width: 100vw;
    height: 6vh;
    color: #222222;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 2em;
}

.footer-text {
    font-size: 1.3rem;
    top: 10vh;
    opacity: 0;
    position: relative;
}


/*---Responsive---*/

@media(max-width: 600px) {
    main {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100dvh;
        display: grid;
        grid-template-rows: 7vh 3vh 1fr 3vh 7vh;
        ;
    }

    .scroller-container {
        height: 100%;
        grid-row: 3/4;
        align-items: center;
    }

    .scroller-section {
        align-items: center;
    }

    .nav-bar {
        height: 7vh;
    }

    .scroller {
        position: relative;
        left: 0%;
        transform: translate(0%, 0%);
        grid-column: 2/3;
        overflow: hidden;
        scroll-behavior: smooth;
        gap: 0;
    }

    .scroller.dragging {
        scroll-behavior: auto;
    }

    .scroll-text-section {
        font-size: 7rem;
        min-width: auto;
        width: auto;
        max-width: 250vw;
        margin: 0;
        display: flex;
        align-items: flex-start;
        padding: 0 1rem;
    }

    /*----------Secciones----------*/
    .scroll-title-container {
        display: none;
    }

    .scroll-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 75dvh;
        width: 80vw;
        min-width: 80vw;
        overflow: hidden;
    }

    .scroll-section.open-section {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
    }

    .scroll-section.open-section .scroll-text-container {
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        z-index: 1;
        color: #ffffff;
    }

    .scroll-text {
        padding: 1em 2em;
        width: 70vw;
    }

    .scroll-counter {
        width: 100%;
        height: 6vh;
        text-align: center;
        transition: all .2s ease-in-out;
        padding: 1rem;
    }

    .img_wrapper {
        grid-column: 1/2;
        grid-row: 1/3;
        min-width: auto;
    }

    .scroll-section.open-section .img_wrapper {
        grid-column: 1/2;
        grid-row: 1/2;
        min-width: auto;
    }

    .img_wrapper img,
    .scroll-section:hover .img_wrapper img {
        transform: scale(1);
        object-fit: cover;
    }

    .scroll-section.open-section:hover .img_wrapper img {
        transform: scale(1.2);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .footer-container {
        position: fixed;
        height: 7vh;
    }

    #scroll-last {
        width: 100vw;
        align-items: center;
    }

}